<a href="https://colab.research.google.com/github/Pongpang-2102/programming_lesson/blob/main/Live10_Essential_Python_for_Data_Analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Content**

- Magic Command
- Csv module
- Review Class : CSVmonster()
- Pandas / numpy
- Requests module
- Sqlite3 module
- Gazpacho : Basic Web scraping
- Intro to Basic ML in Python (on Demand)

ไฟล์ที่จะใช้ : data.zip

Alt + Enter : ขึ้น code cell ใหม่ด้านล่าง

## 01 magic Command

!...........

In [ ]:
# magic command -> run command line
!pwd

/content

In [ ]:
# to view what file or folder stored in this folder
!ls

employee.db  sample_data  starwars.csv

In [ ]:
# to create a new file : hello.txt
!touch hello.txt

In [ ]:
# to view what file or folder stored in this folder
!ls

employee.db  hello.txt	sample_data  starwars.csv

In [ ]:
# creat a directory : use for creating new folder

!mkdir newFolder

# new folder named :"newFolder" will be created

In [ ]:
# remove a directory : use for removing your folder
!rmdir newFolder

# folder named :"newFolder" will be removed

In [ ]:
# python package manager
# !pip list    # (for trial : remove # at front)

# after this command being run :
# all library installed by Google Colab will be listed below 
# we can use it without additional installation

In [ ]:
# python package manager
# to view only library which its name started with pan......
!pip list | grep ^pan

# | : pipe operator (similar to data %>% select(....) in R)
# grep : same with regex in ggsheet

pandas                        1.3.5
pandas-datareader             0.9.0
pandas-gbq                    0.13.3
pandas-profiling              1.4.1
pandocfilters                 1.5.0
panel                         0.12.1

In [ ]:
# installl ne library / module
!pip install gazpacho

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gazpacho in /usr/local/lib/python3.7/dist-packages (1.1)

In [ ]:
! pip list | grep gazpacho
# shown gazpaho current version

gazpacho                      1.1

## 02 Working with CSV

In [ ]:
# list all files in folder :data_Live10
!ls data_Live10

ls: cannot access 'data_Live10': No such file or directory

In [ ]:
# list all files in folder :sample_data
!ls sample_data

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [ ]:
# preview contennt in hotel.csv
# cat : concatenate
!cat data_Live10/hotel.csv

# find hotel.csv from folder data_Live10

cat: data_Live10/hotel.csv: No such file or directory

In [ ]:
# starting withn import csv
import csv

In [ ]:
# 1. open file
## start with read file
file = open("data_Live10/hotel.csv","r")

# 2. read all data in this file
## use csv reader reads the file named "file" and stored it to object "reader"
data = csv.reader(file)

# 3. print each row in terminal
## to view content in file
for row in data:
    print(row)

# 5. close file
file.close()

# in case of typing "close" is forgotten : your file might be corrupted

FileNotFoundError: ignored

What do you do ?
- "r" : read file (read only)
- "w" : write file (overwrite)
- "a" : append (create a new row append to existed data)

In [ ]:
# 1. open file
## start with read file
file = open("data_Live10/hotel.csv","r")

# 2. read all data in this file
## use csv reader reads the file named "file" and stored it to object "reader"
data = csv.reader(file)

# 3. to bring data to analyze
# start with creating an empty list : this case we named : result
result = []

# 4.print each row in terminal
for row in data:
    result.append(row)

# 5. close file
file.close()        # in case of typing "close" is forgotten : your file might be corrupted

# 6. print result
print(result)

# result wll be shown in list of  list form (aligned in horizontal)

In [ ]:
# to view header in file :result
result[0]

In [ ]:
# to view body data
result[1: ]

- to comment file : press `ctrl` + `/`

In [ ]:
# context manager .. with (to prevent forgetting to close file)
# using with / file will be automatically opened & closed

# file = open("data_Live10/hotel.csv","r")
# ......
# file.close()

result = []
with open("data_Live10/hotel.csv","r") as file :
    data = csv.reader(file)
    for row in data:
        result.append(row)

print(result)

In [ ]:
# from previous code chunk
# we may use : try --> to prevent occuring error

result = []
try :
    with open("data_Live10/hotel.csv","r") as file :
        data = csv.reader(file)
        for row in data:
            result.append(row)
except FileNotFoundError :
    print("File not Found")
else :
    print("Load data Successfully")


print(result)

 # if hotellll.csv is opened  (wrong file name)
 # the result would be
 # File not Found
#   []

In [ ]:
# write a ne csv file
# we call "with clause " that " Context Manager"

import csv

with open("hello.csv","w") as file:
    writer = csv.writer(file)
    writer.writerow( ["id","name","city"]  )
    writer.writerow( [1,"Toy","Bangkok"]   )
    writer.writerow( [2,"Mary","Tokyo"]    )
    writer.writerow( [3,"Anna","Lodon"]    )

# ถ้าไม่มีชื่อไฟล์ที่ต้องการจะเปิด Python จะทำการสร้างไฟล์ใหม่
# we can dowload hello.csv to our computer

# "a" แค่เปลี่ยน w เป็น a

In [ ]:
# to preview info in this terminal (or console)
# cat : concatenate : all contents will be concatenated
!cat hello.csv

In [ ]:
# write in multiple rows 
headers = ["id" ,"name","number_student"]
data = [
  [1 ,"CU" , 15000],
  [2 , "CU" , 9800],  
  [3 , "KU" , 12500]
]
with open("school.csv","w") as file:
    writer = csv.writer(file)
    writer.writerow(headers)
    writer.writerows(data)

In [ ]:
!cat school.csv

## 03 Class Review : CSVmonster()

In [ ]:
# start with create blank class and pass

# Object Oriented Programming : OOP
class Book :
    pass

In [ ]:
my_book = Book()
print(my_book)

# now Python known my_book as Book object

In [ ]:
# objet oriented Programming
# OOP language
class Book : 
    def __init__(self , name , author , year ) :
        self.name = name
        self.author = author 
        self.year = year

In [ ]:
# create a new instance
my_book = Book("R for Data Science" ,"Hadley Wickham" , 2018)

In [ ]:
print(my_book.name)
print(my_book.author)
print(my_book.year)

In [ ]:
friend_book = Book("Python Beginners","Toy" , 2022 )
print(friend_book.name)
print(friend_book.author)
print(friend_book.year)

### 03-1 CSVMonster to Analyze data

In [ ]:
!cat data_Live10/hotel.csv

In [ ]:
import csv

class CSVMonster:
    pass

In [ ]:
# Step 1 . Define class & Empty list

import csv

class CSVmonster:
    # initialize a new instance
    def __init__(self) :
        self.list_data = []

In [ ]:
monster = CSVmonster()

In [ ]:
monster.list_data  # empty list

In [ ]:
# Step 2.

import csv

class CSVmonster:
    # initialize a new instance
    def __init__(self) :
        self.list_data = []

    # 1. read csv file
    def read_csv(self, filename) :
        with open(filename , "r") as file :
            data = csv.reader(file)
            for row in data:
                self.list_data.append(row)
        print("Data Loaded Successfully")

In [ ]:
monster = CSVmonster()

monster.read_csv("data_Live10/hotel.csv")
# monster.read_csv("data_Live10/hotelllll.csv")

# How about error handling e.g. Using "hotelllll.csv" ?
# we will be using try -exept block

In [ ]:
monster.list_data

In [ ]:
# revise code slighly
# add try block

import csv

class CSVmonster:
    # initialize a new instance
    def __init__(self) :
        self.list_data = []

    # 1. read csv file
    def read_csv(self, filename) :
        try :
            with open(filename , "r") as file :
                data = csv.reader(file)
                for row in data:
                    self.list_data.append(row)
        except FileNotFoundError :
            print("File Not Found")
        else :
            print("Data Loaded Successfully")

In [ ]:
# try again after using try-except catch : right file name
monster = CSVmonster()
monster.read_csv("data_Live10/hotel.csv")

In [ ]:
# try again after using try-except catch : wrong file name
monster = CSVmonster()
monster.read_csv("data_Live10/hote.csv")

In [ ]:
# add more function

# 2. head

import csv

class CSVmonster:
    # initialize a new instance
    def __init__(self) :
        self.list_data = []

    # 1. read csv file
    def read_csv(self, filename) :
        try :
            with open(filename , "r") as file :
                data = csv.reader(file)
                for row in data:
                    self.list_data.append(row)
        except FileNotFoundError :
            print("File Not Found")
        else :
            print("Data Loaded Successfully")

    # 2. head
    def head(self) :
        header = self.list_data[0]
        data = self.list_data[1: 6] # row 1 -5
        print(header)
        # print(data) : change position  from here to be in for loop to increase tidyness
        for row in data:
            print(row)

In [ ]:
monster = CSVmonster()
monster.read_csv("data_Live10/hotel.csv")

In [ ]:
# to view top  5 row
monster.head()

In [ ]:
# How to print head based on user input

import csv

class CSVmonster:
    # initialize a new instance
    def __init__(self) :
        self.list_data = []

    # 1. read csv file
    def read_csv(self, filename) :
        try :
            with open(filename , "r") as file :
                data = csv.reader(file)
                for row in data:
                    self.list_data.append(row)
        except FileNotFoundError :
            print("File Not Found")
        else :
            print("Data Loaded Successfully")

    # 2. head
    # print first five rows
    def head(self , n = 5) :
        header = self.list_data[0]
        data = self.list_data[1: n+1] # row 1 -5
        print(header)
        # print(data) : change position  from here to be in for loop to increase tidyness
        for row in data:
            print(row)

In [ ]:
monster = CSVmonster()
monster.read_csv("data_Live10/hotel.csv")

In [ ]:
# to view top  n row (n is user input)

# to view top 3 row
monster.head(3)

In [ ]:
# to view top 5 row
monster.head(5)

In [ ]:
monster.head() # n default = 5

In [ ]:
monster.head(4) # n default = 5
# this case : we use 4 to overwrite 5 and show head at n = 4

In [ ]:
# 3. print last five rows
import csv

class CSVmonster:
    # initialize a new instance
    def __init__(self) :
        self.list_data = []

    # 1. read csv file
    def read_csv(self, filename) :
        try :
            with open(filename , "r") as file :
                data = csv.reader(file)
                for row in data:
                    self.list_data.append(row)
        except FileNotFoundError :
            print("File Not Found")
        else :
            print("Data Loaded Successfully")

    # 2. head
    # print first five rows
    def head(self , n = 5) :
        header = self.list_data[0]
        data = self.list_data[1: n+1] # row 1 -5
        print(header)
        for row in data:
            print(row)

    # 3. tail
    # print last five rows
    def tail(self , n = -5) :
        header = self.list_data[0]
        data = self.list_data[-1*n: ]
        print(header)
        for row in data :
            print(row)

In [ ]:
monster = CSVmonster()
monster.read_csv("data_Live10/hotel.csv")

In [ ]:
monster.tail(4)

How can we do : if we want to filter only hotel located in Bangkok ?

In [ ]:
# 4. filter dada
import csv

class CSVmonster:
    # initialize a new instance
    def __init__(self) :
        self.list_data = []

    # 1. read csv file
    def read_csv(self, filename) :
        try :
            with open(filename , "r") as file :
                data = csv.reader(file)
                for row in data:
                    self.list_data.append(row)
        except FileNotFoundError :
            print("File Not Found")
        else :
            print("Data Loaded Successfully")

    # 2. head
    # print first five rows
    def head(self , n = 5) :
        header = self.list_data[0]
        data = self.list_data[1: n+1] # row 1 -5
        print(header)
        for row in data:
            print(row)

    # 3. tail
    # print last five rows
    def tail(self , n = -5) :
        header = self.list_data[0]
        data = self.list_data[-1*n: ]
        print(header)
        for row in data :
            print(row)

    # 4. filter data
    def filter_city(self, city) :
        headers = self.list_data[0]
        print(headers)
        result =[]
        for row in self.list_data[1:   ]:            
            if row[2] == city :
                result.append(row)
        for row in result :
            print(row)



        

# check if city =  "Bangkok"
# name of city : index 2

In [ ]:
!cat data_Live10/hotel.csv

In [ ]:
monster = CSVmonster()
monster.read_csv("data_Live10/hotel.csv")

In [ ]:
monster.filter_city("Bangkok")

In [ ]:
monster.filter_city("London")

In [ ]:
monster.filter_city("Tokyo")

How can we do if we need to know `average price per night` of all hotels?

In [ ]:
# 5. find average price per night
import csv

class CSVmonster:
    # initialize a new instance
    def __init__(self) :
        self.list_data = []

    # 1. read csv file
    def read_csv(self, filename) :
        try :
            with open(filename , "r") as file :
                data = csv.reader(file)
                for row in data:
                    self.list_data.append(row)
        except FileNotFoundError :
            print("File Not Found")
        else :
            print("Data Loaded Successfully")

    # 2. head
    # print first five rows
    def head(self , n = 5) :
        header = self.list_data[0]
        data = self.list_data[1: n+1] # row 1 -5
        print(header)
        for row in data:
            print(row)

    # 3. tail
    # print last five rows
    def tail(self , n = -5) :
        header = self.list_data[0]
        data = self.list_data[-1*n: ]
        print(header)
        for row in data :
            print(row)

    # 4. filter data
    def filter_city(self, city) :
        headers = self.list_data[0]
        print(headers)
        result =[]
        for row in self.list_data[1:   ]:            
            if row[2] == city :
                result.append(row)
        for row in result :
            print(row)

    # 5. find average price per night
    def find_mean_price(self) :
        list_prices = []
        for row in self.list_data[1:]:
            list_prices.append(int(row[3]))
        avg_price = sum(list_prices) / len(list_prices)
        print(f"Average Price : {avg_price} USD per night")
        print(f"Max Price :{max(list_prices)} USD per night")
        print(f"Min Price :{min(list_prices)} USD per night")

In [ ]:
# my trial in issue 5 before disclose an answer
 # 5. find average price per night
#  def find_mean_price(self) :
#             price_hotels = []
#             hotel_numbers = 0
#             for price_hotel in self.list_data[1:]:
#                 price_hotels.append(int(price_hotel[3]))
#                 hotel_numbers += 1
#             print("Hotel number", hotel_numbers)
#             print("Hotel price",price_hotels)
#             sum_price = 0
#             for price_hotel in price_hotels :
#                 sum_price += price_hotel
#             print("average hotel price per night :",sum_price/hotel_numbers)
       
# same answer (32.1) but longer code

In [ ]:
monster = CSVmonster()
monster.read_csv("data_Live10/hotel.csv")

In [ ]:
# show the average hotel price per night from our function
# revise topic 5 to add more detail : max and min number

monster.find_mean_price()

## 04 Intro to Pandas/Numpy

In [ ]:
# import library
import pandas as pd  # dataframe
import numpy as np #numerical Python -- > computing

In [ ]:
x = np.array( [1,2,3])
type(x) # 1 dimension

In [ ]:
# x multiply by 2
x * 2

In [ ]:
# x multiply by 5
x * 5

In [ ]:
# How about multiply list with 2
[1,2,3] * 2
# each list member will be duplicated 
#same with [1,2,3] + [1,2,3]
# so we need to change list to array --> suitable for using numpy

In [ ]:
np.array( [1,2,3]) **3

In [ ]:
# creating 2D array
y = np.array([
          [1,2,3],
          [4,5,6]])

In [ ]:
type(y)

In [ ]:
x = np.array([1,15,20,8,9])

In [ ]:
# to find mean of x and other aggregated value
print(x.mean() , x.sum() , x.max() , x.min() , x.std() )

# median :
# 'numpy.ndarray' object has no attribute 'median'

In [ ]:
# How to find median of array x 
np.median(x)

In [ ]:
print( np.mean(x)  )
print( np.sum(x)   )

In [ ]:
# pandas
import pandas as pd

for more info in pandas : go to learn in course Pandas Foundation

In [ ]:
# starting with create dictionary named "data"
data = {
    "id" : [1,2,3,4] ,
    "name" : ["toy","ink","ball","top"] ,
    "city" : ["BKK","KOR" ,"JPN" ,"USA"] 
}

In [ ]:
# pandas dataframe
# change data type in dictionary form to pandas dataframe
# and assign it to object : df
df = pd.DataFrame(data)
df

In [ ]:
# how to read csv file from internet
df = pd.read_csv("https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv")
df

In [ ]:
# try to check data type
type(df)

# pandas.core.frame.DataFrame

In [ ]:
# view data first 5 rows using head
df.head()

In [ ]:
# view data first n rows using head
# if n = 3
df.head(3)

In [ ]:
# view data last n rows using tail
# if n = 3
df.tail(3)

In [ ]:
df.info()  # information

In [ ]:
# to view dataframe attribute
df.shape 

# (32, 12) : number of rows : 32 / number of columns = 12

In [ ]:
# to view data in descriptive statistics (summary statistics)
df.describe()

### 04-1 Read CSV sample-SuperStore

we will demonstrate in reading csv file from local computer

In [ ]:
# read csv from drive/ local
store = pd.read_csv("/content/data_Live10/Sample SuperStore.csv")

In [ ]:
# to view first 5 row of data in "store"
store.head()

### 04-2 Replace , Filter , Value_count

In [ ]:
# clean column name

# to view all column name
column_names = list(store.columns)
print("column name :",column_names)

# creating clean name 
# 1. replace white space with underscore --> change all to lower case
# 2. repalce "- " with underscore
clean_names = []
for col in column_names :
    clean_names.append( col.replace(" " ,"_").lower().replace("-","_")   )

print(clean_names)

การพิมพ์ object มีวงเล็บ (เช่น `store.head()` ) กับไม่มีวงเล็บ ( `store.columns`  ) ต่างกันอย่างไร?

- มีวงเล็บ : method
- ไม่มีวงเล็บ : attribute

In [ ]:
# list comprehension 
clean_name_v2 = [ col.replace(" " ,"_").lower().replace("-","_")  for col in column_names ]
print(clean_name_v2)

# same result with original for loop : based on your preference

In [ ]:
# assign new column name

## assign clean name back to original "store"
store.columns = clean_name_v2
store.head()

In [ ]:
# select column
store.columns

# required columns : order_date , customer_name , segment , country

In [ ]:
# select column (ต่อ)
column_i_want = ['order_date' ,'customer_name' ,'segment', 'country' , 'city']
store2 = store[column_i_want]

store2.head()

In [ ]:
# filter rows
# use querry

## target : filter at city = "Los Angeles" only 
# How can we do ?

store2.query(" city == 'Los Angeles' ").head()  # condition

In [ ]:
# combine select column  + filter
store.query("city == 'Los Angeles' ")[column_i_want]


# column_i_want = ['order_date' ,'customer_name' ,'segment', 'country' , 'city']

In [ ]:
# combine select column  + filter
store.query("city == 'Los Angeles' ")[  ['order_date','customer_name']  ].head()

In [ ]:
# query mutiple condition
# target : segment  = 'consumer' in 'Henderson'
# select data where city == 'Henderson' and segment == 'Consumer' 
store.query("city == 'Henderson' & segment == 'Consumer' ")

# we can view this data's shape by 
store.query("city == 'Henderson' & segment == 'Consumer' ").shape

In [ ]:
# select data where city == 'Henderson' or segment == 'Consumer' 
store.query("city == 'Henderson' | segment == 'Consumer' ")

# we can view this data's shape by 
store.query("city == 'Henderson' | segment == 'Consumer' ").shape

In [ ]:
# value_count
store['city'].value_counts()

# จงนับจำนวน value ของเมืองนั้นๆ

In [ ]:
# top 5 citis with most orders
store['city'].value_counts().head(5)

# top 10 citis with most orders
store['city'].value_counts().head(10)

### 04-3 Aggregation

In [ ]:
# dataframe aggregation
# SQL aggregate function ? : avg() , max() , min() , sum() , count() + groupby
# avg sum min max count

store.groupby('city')['sales'].sum()

# ลำดับ group by column city -- > แล้วเข้าไปที่ column Sales -- > เพื่อหาผลรวม (sum)

In [ ]:
store.groupby('city')['profit'].sum()

In [ ]:
# group by more than  1 column

store.groupby(['city' ,'segment'])['sales'].sum()

In [ ]:
# group by more than  1 column + aggregate more than  1 column
store.groupby(['city' ,'segment'])[['sales' , 'profit']].sum()

In [ ]:
# group by more than  1 column + aggregate more than  1 aggregated value
store.groupby(['city' ,'segment'])[['sales' , 'profit']].agg(['mean' ,'sum','min', 'max', 'count'])

In [ ]:
# reset index
store.groupby(['city' ,'segment'])[['sales' , 'profit']].agg(['mean' ,'sum','min', 'max', 'count']).reset_index()

In [ ]:
# continue typing code in a new line (for easy to read) and store value in object : result
result = store.groupby(['city' ,'segment'])[['sales' , 'profit']]\
              .agg(['mean' ,'sum','min', 'max', 'count'])\
              .reset_index()

# use backslash  แล้วเคาะ enter ลงมา : ตบ code เพื่อขึ้นบรรทัดใหม่

In [ ]:
# export result as csv file
result.to_csv("data_Live10/agg_store.csv")

In [ ]:
# if you don't need column index
# pls set index = false as below and export again
result.to_csv("data_Live10/agg_store.csv" , index =  False)

# same with pivot table in excel

In [ ]:
# create  a new column
df = store[['country','city' , 'sales']].head()

# new column needed : sales + vat 15%
df['sales_add_vat'] = df['sales']* 1.15
df.head()

In [ ]:
# drop columns
df = df.drop(columns = ['country' ,'city'])
df

## 05 Requests API

work with API

API = Application Programminng Interface (เป็นวิธีการที่คอมพิวเตอร์ 2 เครื่อง ใช้คุยกัน )

เรายิง request ไปที่ server / server response กลับมาหาเรา

![API.jpg]()

Source : https://swapi.dev/api/

More info about code HTTP status :

https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

In [ ]:
# import library
import requests  # Important 
import time # for decelerating time

 # ถ้าทุกคนยิงขอข้อมูลพร้อมๆ กัน  เราจึงต้องหน่วงเวลา เพื่อป้องกันเซิร์ฟล่ม 
 # เช่น โหลดข้อมูลตัวแรก แล้วรอไป 2 วินาที ค่อยโหลดตัวถัดไป (Good Practice)

In [ ]:
# API end point : เส้น
url = "https://swapi.dev/api/people/1"

In [ ]:
# get request : การส่ง request ไปที่ตัว server ของเรา
# assign our request value to object : response

response = requests.get(url)
response
# request : successful : <Response [200]> --> OK it can be connected

In [ ]:
response.status_code
# 200 -> OK

In [ ]:
# to view inside the object :response
response.text

In [ ]:
# parsing in json form : for easier in reading
json_response = response.json()

In [ ]:
json_response['name']

In [ ]:
json_response['height']

In [ ]:
# change request from 1 to 4
url = "https://swapi.dev/api/people/4"

In [ ]:
response = requests.get(url)

In [ ]:
response.status_code

In [ ]:
response.text

In [ ]:
json_response = response.json()

In [ ]:
json_response['name']

In [ ]:
json_response['height']

Can we send multiple API request ?

In [ ]:
# API endpoint 
url = "https://swapi.dev/api/people/"

In [ ]:
# for loop
# for 1-10 charracters 
# run loop เอาตัวเลขไปต่อท้าย
# เราต้องการยิง endpoint สำหรับคาแรกเตอร์ตัวที่ 1 - 10
for i in range(10):
    new_url = url + str(i + 1)
    response = requests.get(new_url)
    name = response.json()['name']  # json == dict
    print(name)
    time.sleep(2) # two second : # Python will do nothing for 2 sec

In [ ]:
# for loop
# create a dataframe 4 col 10 records consisted of
# name / height / mass / birth_year

# start with create a empty list
result = []

for i in range(10):
    new_url = url + str(i + 1)
    response = requests.get(new_url)
    response_json = response.json() # dict
    data = [
        response_json['name'] ,
        response_json['height'],
        response_json['mass'],
        response_json['birth_year']
    ]
    result.append(data)
    time.sleep(1) # two second : # Python will do nothing for 1 sec

print(result)

In [ ]:
# create dataframe
import pandas as pd
result

headers = ['Name' , 'Height','Mass','Birth Year' ]
starwars = pd.DataFrame(  result , columns = headers   )
starwars

In [ ]:
# export starwar dataframe
starwars.to_csv("starwars.csv" , index = False)

## 06 Basic Web Scraping

In [ ]:
!pip install gazpacho

# easier than bs4 (beautiful soup 4)

In [ ]:
# import library
import requests
from gazpacho import Soup # import only soup function

In [ ]:
url = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc"

In [ ]:
response = requests.get(url)
response.status_code # if status = 200 : request has been accepted

In [ ]:
response.text  # all data in that web has been scraped

# function soup will change below text to other data structure type AKA soup

In [ ]:
# change text into soup structure

# soup object
imdb = Soup(response.text)

In [ ]:
type(imdb)

In [ ]:
# find the first h3
imdb.find('h3' ,{'class' : "lister-item-header"}, mode = "first")

# after this code being run : only h3 class : "lister-item-header" will be scraped 
# add mode first to preview data

In [ ]:
# find the first h 3 (without html tag)
# to eliminate all html tag for above assignment
imdb.find('h3' ,{'class' : "lister-item-header"}, mode = "first").strip()

In [ ]:
# get title movie name (method long for loop)

# if mode first is ok , we can continue to deal with other 99 movies
titles = imdb.find('h3' ,{'class' : "lister-item-header"})
for title in titles :
    print(title.strip())

In [ ]:
# get title movie name (method for loop in list comprehension)

# if mode first is ok , we can continue to deal with other 99 movies
titles = imdb.find('h3' ,{'class' : "lister-item-header"})

# try to run in list comprehension  # rearrange or # refractor our code
clean_titles = [ title.strip() for title in titles     ]
print(clean_titles)

In [ ]:
# get run time
runtimes =  imdb.find('span' , {'class' : 'runtime'})

# use list comprehension to create clean_runtimes
clean_runtimes = [ runtime.strip()   for runtime in runtimes   ]
print(clean_runtimes)

In [ ]:
# from clean_runtimes : we need to remove spece & 'min' 
# How can we do ?

# it is string method : we can use replace function
clean_runtimes = [ runtime.strip().replace(" min","")   for runtime in runtimes   ]


# we can also convert string to integer as below
clean_runtimes = [ int(  runtime.strip().replace(" min","")   )   for runtime in runtimes   ]
print(clean_runtimes)

In [ ]:
# combine clean_titles +  clean_runtimes into same dataframe

# can we do it ?

# we need to confirm by checking length 
print(len(clean_runtimes) == len(clean_titles))

In [ ]:
# creat dataframe
imdb_df = pd.DataFrame(
    {
        "title" : clean_titles ,
        "runtime" : clean_runtimes
    }
)

In [ ]:
# try to preview data
imdb_df.head(10)

## 07 Working with SQL database (SQLite)

In [ ]:
# import library
import sqlite3

In [ ]:
# create connection
con = sqlite3.connect('employee.db')

In [ ]:
# print connection : con
con

In [ ]:
# create cursor :cur --
# use cursor to execute SQL commands
cur = con.cursor()
cur

In [ ]:
# create connection
con = sqlite3.connect('employee.db')

# create cursor 
## use cursor to execute SQL commands
cur = con.cursor()

cur.execute("create table department (id int , dept text) ")

cur.execute("""insert into department values 
                (1 , 'data' ) , 
                (2 , 'Finance') , 
                (3 , 'Marketing')
            """)
con.commit()  # commit change
con.close()

In [ ]:
# get data from employee.db
con = sqlite3.connect('employee.db')
cur = con.cursor()
cur.execute("select * from department")
result = cur.fetchall() # get data and store it to result

for row in result :
    print(row)

con.close()

(1, 'data')
(2, 'Finance')
(3, 'Marketing')

we can use pandas to connect & manipulate database chinook.db as below

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
# create connection
con = sqlite3.connect('chinook.db')

In [ ]:
customer = pd.read_sql_query("select FirstName , LastName , Country , Phone from customers limit 5", con)
print(customer)

   FirstName     LastName         Country               Phone
0       Luís    Gonçalves          Brazil  +55 (12) 3923-5555
1     Leonie       Köhler         Germany    +49 0711 2842222
2   François     Tremblay          Canada   +1 (514) 721-4711
3      Bjørn       Hansen          Norway     +47 22 44 22 22
4  František  Wichterlová  Czech Republic    +420 2 4172 5555

In [ ]:
# close connection when you finish
con.close() # หลังจากดึงข้อมูลที่มาดูแล้ว ต้องปิด db ทุกครั้ง

## 08 Homework

- ใช้ความรู้จากบทที่ 5 : Request API
- Remark : อ่าน doc ก่อนใช้งาน เพื่อความเข้าใจที่มากขึ้น

ขั้นตอนการทำ
- Searching for Free API example
- ลองสร้าง dataframe + เขียน API connect ไปที่ตัวพวกนี้ แล้วลองดึงข้อมูลเข้ามา
- save as csv file